body {
    margin: 0;
    padding: 0;
}





#cabecalho {
    background-color: blueviolet;
    text-align: center;
    display: flexbox;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    padding: 25px;    
}

#list_menu {
     box-sizing: border-box;
     display: flex;
    flex-flow: row;
    
}



#list_menu li {  
    list-style: none;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    background-color: brown;
    color: azure;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    

}

#list_menu li:hover {  
    background-color: yellow;
    color: blueviolet;
}


section {
    display: flex;
    flex-flow: row wrap;
    
    
}

article { 
    background-color: aqua;
    margin: 10px;
    border-radius: 8px;
    padding: 10px;
    flex: 1 200px;

}

article:nth-of-type(4) { 
    flex: 50px;
    background-color: darksalmon;


}

img {
    width: 100%;
}


footer {
    background-color: brown;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: antiquewhite;
}

@media screen and (max-width: 768px) {
    header {
        width: 100%;
        padding: 0;
    }
}

@media screen and (min-width: 300px) {
    header {
        width: 100%;
        padding: 0;
    }
}